<!DOCTYPE html>
<!--
	Gravity by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>

<head>
    <title>Evenimente</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <link rel="stylesheet" type="text/css" href="assets/css/calendar.css" />
    <script src="js/modernizr.custom.js"></script>
</head>

<body>

    <!-- Header -->
    <div id="header">
        <h1 id="logo">
            <a href="#" class="icon fa-lightbulb"></a><a href="index.html">BVB</a></h1>
        <nav id="nav">
            <ul>
                <li><a href="#">Anunțuri</a></li>
                <li>
                    <a href="#">Biserica locală</a>
                    <ul>
                        <li><a href="despre.html">Despre</a></li>
                        <li><a href="conducere.html">Conducere</a></li>
                        <li>
                            <a href="departamente.html">Departamente</a>
                            <ul>
                                <li><a href="#">Școala duminicală</a></li>
                                <li><a href="#">Tineret</a></li>
                                <li><a href="#">Laudă și închinare</a></li>
                                <li><a href="#">Cor mixt</a></li>
                                <li><a href="#">Misiune</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </li>
                <li><a href="#">Resurse</a>
                    <ul>
                        <li><a href="#">Media</a></li>
                        <li><a href="#">Link-uri utile</a></li>
                        <li><a href="#">Arhivă video</a></li>
                    </ul>
                </li>
                <li><a href="https://www.youtube.com/channel/UCEP7EO7Fso88QlA1A0YfuJg" target="_blank" class="button alt">Transmisie live</a>
                </li>
            </ul>
        </nav>
    </div>


    <!-- Main -->
    <section id="main">
        <div class="container">
            <header class="major">
                <h2>Calendarul evenimnetelor</h2>
                <p>Programate pentru perioada următoare</p>
            </header>

            <!-- Content -->
            <section id="content">

                <div class="calendarEvenimente clearfix">
                    <script type="text/template" id="calendarEvenimente-template">

                        <div class="clndr-grid">
                            <div class="days-of-the-week clearfix">
                                <% _.each(daysOfTheWeek, function(day) { %>
                                    <div class="header-day">
                                        <%= day %>
                                    </div>
                                    <% }); %>
                            </div>
                            <div class="days">
                                <% _.each(days, function(day) { %>
                                    <div class="<%= day.classes %>" id="<%= day.id %>"><span class="day-number"><%= day.day %></span></div>
                                    <% }); %>
                            </div>
                        </div>
                        <div class="event-listing">

                            <!--<sub class="clndr-today-button">Today</sub>-->
                            <div class="event-listing-title">
                                <div class="clndr-controls">
                                    <div class="clndr-previous-button">&lt;</div>
                                    <div class="clndr-next-button">&gt;</div>
                                    <div class="current-month">
                                        În
                                        <%= month %>
                                            <%= year %>
                                    </div>
                                </div>
                            </div>
                            <div class="event-item">
                                <div class="event-item-name">
                                    Slujbe săptămânale
                                </div>
                                <div class="event-item-detail">
                                    <span>Marți de la 17:30</span>
                                    <span>Joi de la 18:00</span>
                                    <span>Duminică de la ora 10:00, apoi de la 18:00</span>
                                </div>
                            </div>
                            <% _.each(eventsThisMonth, function(event) { 
																if(event.saptamanal) return;%>
                                <div class="event-item <%= event.hClass %>">
                                    <div class="event-item-name">
                                        <%= event.title %>
                                    </div>
                                    <div class="event-item-detail">
                                        <span><%= event.description %></span>
                                        <% if(event.startDate == null) %>
                                            <span><%= event.date %></span>
                                            <% else %>
                                                <span><%= event.startDate %> - <%= event.endDate %></span>
                                    </div>
                                </div>
                                <% }); %>
                        </div>
                    </script>
                </div>

                <span><i>Pentru a reveni la luna curentă, click <a href="javascript:void(0)" onClick="backToToday();">aici</a>.</i></span>
            </section>

        </div>
    </section>

    <!-- Footer -->
    <div id="footer">
        <div class="container">
            <div class="row 200% uniform">
                <section class="4u 12u$(medium) 12u$(small)">
                    <header class="major">
                        <h3>About</h3>
                    </header>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta aliquam eius dolorem quod deserunt esse libero, dolorum temporibus, aliquid nemo vitae sit enim quas ipsam dicta et veritatis excepturi suscipit. Lorem ipsum dolor sit
                        amet, consectetur adipisicing elit. Odio incidunt, tempora quasi, impedit laudantium totam magna consequat.</p>
                    <ul class="actions">
                        <li><a href="#" class="button alt">Learn more</a></li>
                    </ul>
                </section>
                <section class="4u 6u(medium) 12u$(small)">
                    <header class="major">
                        <h3>Recent News</h3>
                    </header>
                    <ul class="updates">
                        <li>
                            <p>
                                <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam voluptatem voluptas provident illum vitae ad, placeat ipsa, porro veritatis.</a>
                            </p>
                            <span class="timestamp">4 hours ago</span>
                        </li>
                        <li>
                            <p>
                                <a href="#">Veniam consectetur, fuga recusandae id voluptate obcaecati illo nisi atque aliquid facilis tempore, magni soluta sequi dicta reiciendis minima.</a>
                            </p>
                            <span class="timestamp">4 hours ago</span>
                        </li>
                    </ul>
                </section>
                <section class="4u$ 6u$(medium) 12u$(small)">
                    <header class="major">
                        <h3>Contact</h3>
                    </header>
                    <ul class="labeled-icons">
                        <li>
                            <h4 class="icon fa-envelope"><span class="label">Email</span></h4>
                            <a href="#">someone@untitled.tld</a>
                        </li>
                        <li>
                            <h4 class="icon fa-phone"><span class="label">Phone</span></h4>
                            (000) 000-0000 x12345
                        </li>
                        <li>
                            <h4 class="icon fa-home"><span class="label">Address</span></h4>
                            1234 Somewhere Road, Suite #543<br>Nashville, TN 00000
                        </li>
                        <li>
                            <h4 class="icon fa-twitter"><span class="label">Twitter</span></h4>
                            <a href="#">twitter.com/untitled</a>
                        </li>
                        <li>
                            <h4 class="icon fa-facebook"><span class="label">Facebook</span></h4>
                            <a href="#">facebook.com/untitled</a>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
        <div class="copyright">
            &copy; Untitled. All rights reserved.
        </div>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/jquery.onvisible.min.js"></script>
    <script src="assets/js/jquery.poptrox.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>
    <script src="js/evenimente.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/moment.js"></script>
    <!-- CLEAN UP LOCALES -->
    <script src="js/classie.js"></script>
    <script src="js/calendar.js"></script>

</body>

</html>